<?xml version="1.0"?>
<launch>

    <arg name="use_unity_binary" default="true"/>
    <arg name="unity_env" default="industrial_small"/>

    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>

    <!-- vehicle initial pose in Gazebo -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <arg name="use_global_cloud"/>
    <arg name="global_cloud_node_name"/>

    <!-- gazebo configs -->
    <arg name="use_gazebo_gui" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>

    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo and Unity environment, and spawns vehicle -->
    
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris_depth_camera"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- PX4 SITL configs -->
    <arg name="interactive" default="true"/>

    <!-- PX4 SITL, Gazebo and Unity -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg use_gazebo_gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- MAVROS -->
    <include file="$(find px4_fast_planner)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- ROS-Unity endpoint -->
    <include file="$(find ros_unity)/launch/tcp_server.launch"/>

    <!-- unity -->
    <group if="$(arg use_unity_binary)">
        <node pkg="unityrender" type="$(arg unity_env).x86_64" name="unityrender">
            <!-- <remap from="/collision" to="/planning/collision"/> -->
        </node>
    </group>

     <!-- global cloud -->
     <group if="$(arg use_global_cloud)">
        <node pkg="ros_unity" type="global_map_server_node" name="$(arg global_cloud_node_name)">
            <param name="map_name" value="$(arg unity_env).ply"/>
            <param name="map_update_freq" value="0.1"/>
        </node>
    </group>   

</launch>
