<launch>

    <!-- For sim -->
    <arg name="use_unity_binary" default="true"/>
    <arg name="use_gazebo_gui" default="false"/>
    <arg name="vehicle" default="iris"/>
    <arg name="unity_env" default="hydra"/>
    <arg name="use_global_cloud" default="true"/>
    <arg name="global_cloud_node_name" default="global_map_server"/>

    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>

    <!-- Planner configs -->
    <arg name="map_size_x" default="100.0"/>
    <arg name="map_size_y" default="100.0"/>
    <arg name="map_size_z" default="6.0"/>

    <!-- Controller arguments-->
    <arg name="use_local_frame" default="false"/>
    <arg name="use_px4_ctrl" default="true"/>
    <arg name="px4_ctrl_mode" default="pva"/>
    <arg name="use_fastplanner" default="true"/>
    <arg name="Tf" default="0.3"/>
    <arg name="max_vel" default="3.0" />
    <arg name="max_acc" default="6.0" />

    <!-- Topic of your odometry such as VIO or LIO -->
    <arg name="odom_topic" value="/mavros/local_position/odom" if="$(arg use_local_frame)"/>
    <arg name="odom_topic" value="/drone1/global/nwu_odom" unless="$(arg use_local_frame)"/>

    <arg name="camera_pose_topic" default="/camera/pose"/>
    <!-- <arg name="depth_topic" default="/fed_ros/depth"/> -->
    <arg name="depth_topic" default="/fed_ros/depth_ground_truth"/>
    <arg name="global_cloud_topic" default="/$(arg global_cloud_node_name)/global_map"/>
    <arg name="local_cloud_topic" default="/pcl_render_node/cloud"/>

    <!-- Initial drone's position in Gazebo -->
    <arg name="init_pos_x" default="0.0" />
    <arg name="init_pos_y" default="0.0" />
    <!-- takeoff height -->
    <arg name="takeoff_height" default="1.0" />
    <!-- flight height -->
    <arg name="flight_height" default="3.0"/>

    <param name="/use_sim_time" value="false"/>

    <!-- ROS static transformation -->
    <node pkg="tf" type="static_transform_publisher" name="tf_baselink" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 body base_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_camera" args="0.45 0.1 0.0 -1.57 0 -1.57 base_link camera_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="global2world" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 world global_nwu 10"/>

    <!-- MAVROS + PX4 + Gazebo -->
    <include file="$(find px4_fast_planner)/launch/mavros_unity.launch" >
        <arg name="use_unity_binary" value="$(arg use_unity_binary)"/>
        <arg name="unity_env" value="$(arg unity_env)"/>
        <arg name="use_gazebo_gui" value="$(arg use_gazebo_gui)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="x" value="$(arg init_pos_x)"/>
        <arg name="y" value="$(arg init_pos_y)"/>

        <arg name="global_cloud_node_name" default="$(arg global_cloud_node_name)"/>
    </include>

    <!-- Fast planner -->
    <include file="$(find px4_fast_planner)/launch/px4_kino_replan.launch" >
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>

        <arg name="max_vel" value="$(arg max_vel)"/>
        <arg name="max_acc" value="$(arg max_acc)"/>

        <arg name="odom_topic" value="$(arg odom_topic)" />
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="camera_pose_topic" value="$(arg camera_pose_topic)"/>

        <arg name="use_global_cloud" default="$(arg use_global_cloud)"/>
        <arg name="global_cloud_topic" default="$(arg global_cloud_topic)"/>
        <arg name="local_cloud_topic" default="$(arg local_cloud_topic)"/>
        <arg name="Tf" value="$(arg Tf)"/>
        <arg name="flight_height" value="$(arg flight_height)"/>
    </include>

    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
            <remap from="~odom" to="$(arg odom_topic)"/>
            <param name="color/a" value="1.0"/>    
            <param name="color/r" value="0.0"/>        
            <param name="color/g" value="0.0"/>        
            <param name="color/b" value="1.0"/>       
            <param name="covariance_scale" value="100.0"/>       
            <param name="robot_scale" value="1.0"/>
    </node>

    <!-- Controller -->
    <include file="$(find px4_offb_ctrl)/launch/offb_ctrl.launch">
        <arg name="use_local_frame" value="$(arg use_local_frame)"/>
        <arg name="takeoff_height" value="$(arg takeoff_height)"/>
        <arg name="use_px4_ctrl" value="$(arg use_px4_ctrl)"/>
        <arg name="px4_ctrl_mode" value="$(arg px4_ctrl_mode)"/>
        <arg name="use_fastplanner" value="$(arg use_fastplanner)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="Tf" value="$(arg Tf)"/>
    </include>


    <!-- Camera pose publisher -->
    <!-- This node publishes tf from parent_frame to child_frame-->
    <node pkg="px4_fast_planner" name="camera_pose_publisher" type="camera_pose_publisher.py" output="screen">
        <param name="parent_frame" value="world" />
        <param name="child_frame" value="camera_link" />
        <param name="pose_topic" value="camera/pose" />
    </node>

    <!-- Fisheye Depth -->
    <include file="$(find fed_ros)/launch/ds_sp_sgm_s_0.5_simu.launch">
        <arg name="offset_x" value="0" />
        <arg name="offset_y" value="0" />
        <arg name="crop_w" value="720" />
        <arg name="crop_h" value="540" />
        <arg name="scale" value="0.5" />
        <arg name="leftImage_topic" value="drone1/fisheye_left"/>
        <arg name="rightImage_topic" value="drone1/fisheye_right"/>
    </include>

    <!-- Rviz -->
    <include file="$(find px4_fast_planner)/launch/rviz.launch" />

    <!-- depth ground truth -->
    <node pkg="ros_unity" name="depth_GT_republisher_node" type="depth_GT_repub_node.py" output="screen"/>

    <!-- Goal type: 0 for manual setting in rviz, 1 for automatic generation in Unity -->
    <param name="goal_set_type" type="int" value="0"/>
    <param name="goal_radius" type="double" value="0"/>
    <param name="goal_range" type="double" value="0"/>

</launch>